{% extends "admin_base.html" %}
{% block script %}
<script>
        function SelectAll() {
            var checkboxs=document.getElementsByName("articles");
            for (var i=0;i<checkboxs.length;i++) {
                var e=checkboxs[i];
                e.checked=!e.checked;
             }
        }
</script>
{% endblock %}
{% block body %}
       
    <div id="right_panel">
        <div class="header">
            <h3>文章管理</h3>  
        </div>
        
        <div class="fwrite">
            <div class="fwrite_description" id="fwrite_description">
                <div class="admin_li">
                    <form action="/{{ 'admin'|get_base }}/article" method="GET" target="_self" style=" width: 360px; float:left;">
                        <span class="admin_span">选择栏目:</span>
                            <select name="column">
                                <option value ="all">全部</option>
                                {% for c in columns %}
                                <option value ="{{ c.key }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        <button type="submit">筛选</button>
                    </form>
                    <a href="/{{ 'admin'|get_base }}/article/edit" target="_self">添加文章</a>
                </div>
                <hr>
                </br>
                <div class="admin_li">
                    <h3>文章列表</h3>
                </div>
                </br>
                <form action="/{{ 'admin'|get_base }}/article/del" target="_self" method="POST">
                    <input style="float:left;" type="checkbox" onclick="SelectAll();"><span class="admin_span">全选/反选</span> <button type="submit">批量删除</button>
                {% for a in articles %}
                <div class="admin_li" id="{{ a.key }}">
                    <input style="float:left;" type="checkbox" name="articles" value="{{ a.key }}"><span class="admin_span" style="width:auto;">{{ a.title }}</span>&nbsp;<a href="/{{ 'admin'|get_base }}/article/del?key={{ a.key }}" target="_self">删除</a>&nbsp;<a href="/{{ 'admin'|get_base }}/article/edit?key={{ a.key }}" target="_self">编辑</a></br>
                </div>
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div id="right_copy" class="hide">
        <div class="logo">
            <img src="/static/images/common/logo.png">
        </div>
        <div class="foot">
            <div class="row">
                <div class="powered">
                    Powered By <a href="{{ 'fwrite'|get_url }}" target="blank">{{ 'Fwrite'|get_version }}</a><img src='/static/images/common/fooying.png' style=" margin-bottom: 4px; ">
                </div>
                <div class="copyright">
                    Copyright © {{ 'copy'|get_year }} - {{ 'copy'|get_this_site }} - <a href="http://www.miibeian.gov.cn/" target="_blank">{{ 'test'|get_icp }}</a> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}

