{% extends "admin_base.html" %}
{% block body %}
       
    <div id="right_panel" class='hide'>
        <div class="header">
            <h3>后台管理</h3>  
        </div>
        
        <div class="fwrite">
            <div class="fwrite_description" id="fwrite_description">
                后台管理首页
            </div>
        </div>
    </div>
    <div id="right_copy">
        <div class="logo">
            <img src="/static/images/common/logo.png">
        </div>
        <div class="foot">
            <div class="row">
                <div class="powered">
                    Powered By <a href="{{ 'fwrite'|get_url }}" target="blank">{{ 'Fwrite'|get_version }}</a><img src='/static/images/common/fooying.png' style=" margin-bottom: 4px; ">
                </div>
                <div class="copyright">
                    Copyright © {{ 'copy'|get_year }} - {{ 'site_title'|get_base }} - <a href="http://www.miibeian.gov.cn/" target="_blank">{{ 'test'|get_icp }}</a> 
                </div>
            </div>
        </div>
    </div>

{% endblock %}

